
<div class="row">
    <div class="card col-lg-3 col-md-6 col-sm-6">      
        <div class="card-body">
            <div class="card-title">CS by coordinates</div>
            <div class="d-flex flex-column">
                <!-- <form [formGroup]="formSearch" (ngSubmit)="submit()"> -->
                <form #requestForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <!-- <input type="text" class="form-control" placeholder="Enter your username"> -->
                        <input type="text" class="form-control" [(ngModel)]="poiLat" name="poiLat">
                    </div>
                    <div class="form-group">
                        <!-- <input type="password" class="form-control" placeholder="Enter your password"> -->
                        <input type="text" class="form-control" [(ngModel)]="poiLng" name="poiLng">
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary pd-x-20">Search</button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">CS Found</div>
            <div *ngFor="let station of stationsList"
            class="d-flex align-items-left border-bottom-dotted-dim pb-3 mb-3">
                <div class="flex-grow-1">
                    <h6 class="m-0">CS {{station.name}}</h6>
                    <p class="m-0 text-small text-muted">{{station.address}}</p>
                    <div>
                        <button class="btn btn-outline-primary btn-rounded btn-sm">Detail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-6 col-sm-6">
        <h2>Map</h2>
    </div>


</div>
