<div class="card">
  <div class="card-body">
    <div class="card-title"> Selected station</div>
    
    <div class="d-flex align-items-left border-bottom-dotted-dim pb-3 mb-3">
      <div class="flex-grow-1">
          <h6 class="m-0">CS {{station.name}}</h6>
          <p class="m-0 text-small text-muted">{{station.address}}</p>
        <div>
          <button class="btn btn-outline-primary btn-rounded btn-sm"
          [routerLink]="['../driver/reserve', station.nk]">See availability Calendar</button>
          
        </div>
        <div>
          <button 
          class="btn btn-outline-primary btn-rounded btn-sm"
          (click)="backToResults()"
          >Results</button>
        </div>
      </div>
    </div>

    <div *ngFor="let available of stationAvailabilities">
      <div *ngIf="available.status === 'AVAILABLE'" class="card">
        <div class="card-body">Available from {{available.startDateTime.split(' ')[1]}} - {{available.endDateTime.split(' ')[1]}}</div>
        <button
        class="btn btn-outline-primary btn-rounded btn-sm"
        (click)="makeReservation(available.nk)"
        >Reserve</button>
      </div>
    </div>
  </div>
</div>