<div class="row">
  <!-- CS Info side-bar -->
  <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="dataLoaded | async">
    <div class="card" >
      <div class="card-body">
        <div class="card-title" >CS info {{chargingStation.name}}</div>
        <p> {{chargingStation.address}}</p>
        <p> {{chargingStation.charge_level}}</p>
        <p> {{chargingStation.tarif_text}} </p>
        <!-- <p> {{chargingStation.cs_host}}</p> -->
      </div>
    </div>
  </div>

  <!-- Avail Calendar / Reservation form -->
  <div class="col-lg-9 col-md-6 col-sm-6" *ngIf="dataLoaded | async">
    <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('edit', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
  </div>


</div>