<div class="row">
  <!-- CS Info side-bar -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body" *ngIf="dataLoaded | async">
        <div class="card-title">CS info CS_NAME</div>
        <p> {{chargingStation.name}} </p>
        <p> {{chargingStation.address}}</p>
        <p> {{chargingStation.charge_level}}</p>
        <p> {{chargingStation.tarif_text}} </p>
        <!-- <p> {{chargingStation.cs_host}}</p> -->
      </div>
    </div>
  </div>

  <!-- Avail Calendar / Reservation form -->
  <div class="col-lg-9 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-body" *ngFor="let eventCs of eventCss">
        <div class="card-title">{{eventCs.startDateTime}}-{{eventCs.endDateTime}}</div>
        <div class="card-body">{{eventCs.status}}</div>
        <button *ngIf="eventCs.status=='AVAILABLE'"  class="btn btn-outline-primary btn-rounded btn-sm" (click)="makeReservation(eventCs.nk)">Reserve</button>
      </div>
    </div>
  </div>

</div>